@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

// VARIABLES
//COLORS
$Dark-bg: #1F2937;
$Light-bg: #FBF7EE;
$Pharagraph: #d2d2d2;

//FONTS
$font-primary:'Inter', sans-serif;


// MIXINS
@mixin flex {
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @content;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}    
body{
    background-color: linea;
    font-family: $font-primary;
    @include flex();
    height: 100vh;
    overflow: hidden;
}


.container{
    background-color: $Dark-bg;
    width: 350px;
    height: 600px;
    border-radius: 2rem;
    text-align: center;
}


.top-side{
    color: $Light-bg;
    background:  linear-gradient(135deg, #585DFE, #FB3796);
    height: 220px;
    @include flex();
    border-radius: 2rem 2rem 0 0;

}
 
.input-shell{
    
    input{
        // font-size: 7rem;
        margin-top: 1.5rem;
        padding: .6rem;
        border: rgb(141, 71, 255) solid 5px;
    }
    button{
        padding: .5rem;
        font-weight: 600;
        background-color: #fb379600;
        color: white;
        border: white solid 4px;
    
    }   
}
button:active{
    color: black;
    border: black solid 2px;
    background-color: white
}

.bottom-side{
     @include flex();
    height: 385px;
    font-size: .9rem;
    

    strong{
        color: $Light-bg;
        font-weight: 600;
        font-size: medium;
        margin-bottom:1rem ;
    }
}
.row-result{
    display: flex;
     flex-direction: column;
     margin: 1rem;

    p{
        margin: .5rem;
        color: $Pharagraph;
    }
}

